html
  head
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
    div.container
      div.row
        div.col-md-12
          h3 Welcome to davidCalendar
          br
          form.form-inline(action="/login" method="POST")
            input(type="submit" value="Log in with Google" class="btn btn-success")
